/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }

/* div.container{
    margin:0px 40px;
}

.fill-remaining-space{
    flex: 1 1 auto;
} */
.leafcon{
    border-radius: 0 90px 0 90px ;
  }

  .leafcon1{
    border-radius: 90px 0 90px 0 ;
  }
  
  .bgimage{
    background-image: url('../src/app/Components/assets/yoga.jpg');
  }
  .pgstyle{
    margin: 10px;
    padding: 2px;
  }